
.container {
	height:600;
	width:600;
        background:plum;     

        border: 5px solid indigo;
	margin: 50px auto;	
 	padding: 30px 100px;

	display:flex;
	flex-direction: row;
	align-item: center;
	justify-content: space-between;
/*
	justify-content: center;
	gap: 50px;	
*/
}

.container div{
	background:lightblue; 
	border: 5px solid green; 
	margin: 20px 20px;
	padding:20px 20px;
	height:150px;
	width: 200px;
/*	flex:1 1 auto; */}


.flex-container .two{ flex: 2 2 auto;}
