/*.full-container{ 
	display:flex;
        flex-direction: column;}
*/
.flex-container {
	display:flex;
	flex-direction: row;}

.flex-container div{
	background:peachpuff; 
	border: 5px solid brown; 
	margin: 20px 20px;
	padding:20px 20px;
	height:150px;
	width: 100px;
	flex:1 1 auto; }


.flex-container .two{ flex: 2 2 auto;}
