/*body{font-family: Arial, Helvetica, sans-serif;}*/
/*button{background-color:grey;}*/
.para {font-size:28px; font-weight:bold; }
.small-para{ font-size:18px;}

.button{font-size:18; font-weight:bold;}
.confirm{color:white; background-color:green;}
.cancel{color:black; background-color:white;}

.text{font-size: 18px; font-weight:200;}
.child{font-size:14px; }
