@font-face {
    font-family: "Roboto";
    src: url("./fonts/roboto.ttf");
}

body{
    display:grid;
    grid-template-rows: 15vh 85vh;
    grid-template-areas: "nav" "content";
    font-family: "Roboto";
}

.nav{
    grid-area:nav;
    background-color:#FF9800;
    display:grid;
    
    grid-template-columns: repeat(3,33.33vw);
    grid-template-rows: 15vh;
    grid-template-areas: "calendar todo reminder";  
    flex-direction:row;
    font-family: "Roboto";
    
}

.left_button, .right_button, .weather{
    display:flex; text-align:center; justify-content: center; align-items: center;
    font-size:1.2rem;
    font-weight: 600;
    background-color:transparent; color:white;
}

.left_button{grid-area:calendar; background:transparent;}
.weather{grid-area:todo;}
.right_button{grid-area:reminder;}

.left_button img, .right_button img{
    width:4vh;
    height:4vh;

}

.right_button img{
    filter:invert(100%);
}


.content{
    grid-area:content;
    background-color: skyblue;
    color:#3F51B5;
}
.content * {
    color: inherit;
}

.content img{
    width:20vh;
    height:20vh;
    margin-top: 5vh;
    
}


.todo h1, .todo h3, .todo h4, .todo h1{
    margin:2vh auto;
    padding:1vh auto;
    font-size: 1rem;
}

.todo img{
        width:4vh;
    height:4vh;
    margin-top: 0vh;
}




.themenu{
    display:grid;
    grid-template-columns: 35vw 5vw 35vw;
    grid-template-rows: 60vh;
    grid-template-areas: "tasks between add_tasks" ;
    gap:2vw;
    margin: 0 3vw 0 3vw;
    
}

.themenu .left{
    grid-area:tasks;
    overflow:scroll;

    
}
.themenu .left .firstline,.themenu .left .firstpart {
    display:flex; flex-direction:row;
}
.themenu .left .firstline{
    justify-content:space-between;
}

.themenu .left .project{
    font-weight:800;
}
.themenu .left .firstline .title{
    font-weight:600;
}
.themenu .left .box .tasks{
    font-weight:500;
    font-size:0.7rem;
    margin-left:3vw;
    
}

.themenu .right{
    grid-area:add_tasks;
}
.themenu .right .box .city{
    margin-bottom:0;
    
    
}
.themenu .right ul#suggestions{
    display:flex;
    flex-direction:column;
    background:white;
    list-style-type:none;
    margin:0;
    padding-left:0;

    color:black;
    font-size:0.7rem;

    
}

.themenu .add{
    grid-area:between;
}
.themenu .add img{
    filter:invert(100%);

}

.themenu h4{
    text-align: center;
}
.themenu .left, .themenu .right{
    text-align: left;
    width:40vw;
    height:55vh;
    border:2px solid white;
    border-radius: 5vw;
    padding:3vh 3vw;
    margin-top:3vh;
    
    white-space: nowrap;
    overflow: hidden;
    color:#3F51B5;
    background:orange;/*#f3efea*/

    box-shadow:rgb(75, 75, 75) 1px 2px;


}

.themenu .left .title{
 display:flex;
    flex-direction:row;
    align-items:left;
    gap:0.5vh;
}

.themenu .left .part .box{
    
    margin-left:1vw;
}
.themenu .left .part .time{
        display:flex;
    flex-direction:column;
    align-items:left;
}

.themenu .left .part,.themenu .left .title {
    padding:0 0.5vw;
}

.themenu .left .part .priority{
    width:2vh;
    height:2vh;
    background-color:aqua;
    border-radius:3vh;
    border:none;
    margin:0 1vw;
    padding:0;
    margin-bottom:0;
    display:flex;
    align-items:center;
    justify-content:center;
    
}


.themenu hr{
    width:20vw;
    border:0.5px solid white;

}
.themenu .box{
    font-size: 0.9em;
    color:#795548;
}
.themenu .box .firstline{
     display:flex;
    align-items:center;
    margin-right:4vw;
}
.themenu .box.map{
    height:30vh;
    border:1px solid white;
    border-radius:3vh;
}

.themenu .right button.submit{
    background-color:transparent;
    border: none; 
    margin-top:1vh;
}
.themenu .right button img{
    filter:invert(75%);
}
.themenu .right button img:hover{
    filter:invert(25%);
    
}

.themenu .right fieldset{
    display:flex; flex-direction:column; justify-content:center;
    
    gap:0vh;
    border:none;
    
    
}


.themenu .right fieldset .box{
    display:flex;
    /*justify-content:space-around;*/
    
}

.themenu .right fieldset legend{
    
}


.themenu .right fieldset label{
    width:10vw;
    
}

.themenu .right fieldset input{
    width:25vw;
    border:1px solid aliceblue;
    border-radius: 1vh;
    padding:0.5vh 1vw;
    
}

.themenu .right fieldset textarea#tasks{
    height: 25vh;  
}

.choices{
    gap:2vw;
}
.choices button{
    width:3vh;
    height:3vh;
    background-color:aqua;
    border-radius:3vh;
    border:none;
    margin-left:1vw;
    margin-right:1vw;
    
}
.choices button:focus{
    border:2px solid white;
}

.choices button.low, .themenu .left .part .priority.low{
    background-color:yellow;
}
.choices button.mid, .themenu .left .part .priority.mid{
    background-color:#FFC107;
}
.choices button.high, .themenu .left .part .priority.high{
    background-color:#FF5722;
}


.project h1{
    margin:3vh auto;
    padding:0vh auto;
    font-size: 1rem;
}
.project img{
    width:40vh;
    height:40vh;
    margin-top: 0 auto;
    
}

.project .description{
    width:50vh;
    height:50vh;
    display:flex; align-items: center;
}

.project .container{
    padding:0;
    margin:0;
    gap:5vw;
}


.project .contact{
    margin-top: 5vh;
    white-space: pre-line;
}


.hourly{
    height: 7vh;
    width: 3vw;
    display:flex;
    flex-direction:column;
    color:white;
    font-weight:500;
    
}

.left .box{
    display:flex;
    flex-direction:row;
    gap:0.3vw;
    overflow-x:auto;
    
    
}
.left .box >.box{
    flex: 0 0 auto; 
    
}
.left .box .icon img{
    height: 1rem;
    width: 1rem;
    flex: 0 0 auto;
}
.left .box .icon{
    flex: 0 0 auto;
}
.left .box .temp{
    height: 1rem;
    width: 1rem;
    flex: 0 0 auto;

    text-align: center;
    
}

.left .box.this_week{
    display:flex;
    flex-direction:column;
    
    
}
.left .box.this_week .daily{
    display:flex;
    flex-direction:row;
    gap: 1vh;
}
.left .box.this_week .row_box{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    gap:0.5vh;
    
    color:white;
    font-weight:500;

    flex:1;
    max-width:32vw;
}

.left .box.this_week .day, .left .box.this_week .temp{
    
    color:white;
    font-weight:500;

    
}

